<table>

<% @stories.each do |story| %>
	<tr><td>
		<h3><%= link_to story.title, story %></h3>
    <p align="justify">
			<%= raw(story.teaser) %>
		</p>
		<p class="timestamp">dodano <%= story.created_at.strftime("%Y-%m-%d %H:%M") %></p>
</td></tr>
<% end %>

</table>

<center>
	<%= will_paginate @stories, :class=>"paginate", :previous_label=>"&laquo; Poprzednia", :next_label=>"Następna &raquo;" %>
</center>
